// import google font Roboto and apply as the main font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

body{
    font-family: $primay-font-family;
	color: $primary-text-color;
}

h1,
%h1 {
  @include responsive-font-size(50px);
  line-height: 1.05;
  letter-spacing: -1.5px;
  font-weight: $font-weight-bold;
  color: $primary-title-color;
}

h2,
%h2 {
  @include responsive-font-size(40px);
  line-height: calc(48 / 40);
  letter-spacing: -1px;
  color: $primary-title-color;
  font-weight: $font-weight-bold;
}

h3,
%h3 {
  @include responsive-font-size(22px);
  line-height: 27px;
  color: $primary-title-color;
  font-weight: $font-weight-bold;
}

h4,
%h4 {
  color: $primary-title-color;
}

h5,
%h5 {
  color: $primary-title-color;
}

h6,
%h6 {
  color: $primary-title-color;
}

p {
  font-size: 16px;
  line-height: 22px;
}

ul,
ol {
  padding: 0;

  li {
	font-size: 16px;
	line-height: 22px;
  }
}


%list-item {
  position: relative;
  padding-left: 22px;
  list-style: none;

  &:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 8px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: $secondary-color;
  }
}

%list-number {
  position: relative;
  padding-left: 23px;
  list-style: none;
  counter-increment: li;

  &:before {
	content: counter(li) ". ";
	color: $secondary-color;
	display: inline-block;
	position: absolute;
	left: 0;
  }
}