$primay-font-family: "Roboto", sans-serif;
$secondary-font-family: "Oswald", sans-serif;

$primary-color: #32c5ff;
$secondary-color: #ffc72c;

$primary-text-color: #455a64;
$secondary-text-color: #002f6c;
$light-text-color: #90A4AE;

$primary-title-color:#253238;

$primary-link-color: #32c5ff;
$primary-link-hover-color: #2599c6;
$secondary-link-color: #e54e17;

$header-height: 56px;
$footer-height: 40px;

$border: 1px solid #ECEFF1;

$white: #ffffff;

$image-base-path: '../images/';
$icon-sprite: '#{$image-base-path}icons.svg';

// $macaroni-and-cheese: #ffc72c;
// $macaroni-and-cheese-50: rgba(255, 199, 44, 0.5);
// $bright-light-blue: #32c5ff;
// $dark: #253238;
// $slate: #455a64;
// $blue-grey: #78909c;
// $light-grey-blue: #b0bec5;
// $marine-blue: #002f6c;
// $ice-blue-1: #eff7fb;
// $ice-blue-2: #f7f9f9;
// $ice-blue-3: #e8f9ff;
// $pumpkin-orange: #ff8200;
// $pumpkin-orange-50: rgba(255, 130, 0, 0.5);
// $pale-blue: #dfe5e8;
// $ocean-blue-8: rgba(0, 114, 159, 0.08);
// $ocean-blue-15: rgba(0, 114, 159, 0.15);
// $underline-grey: #dde4e7;
// $slate_opacity: rgba(69, 90, 100, 0.5);
// $pale-grey: #eceff1;
// $black-40: rgba(0, 0, 0, 0.4);
// $navy-blue: #001753;
// $robins-egg-blue: #a9def1;
