$primay-font-family: "Roboto", sans-serif;
$secondary-font-family: "Oswald", sans-serif;

$primary-color: #32c5ff;
$secondary-color: #ffc72c;

$primary-text-color: #455a64;
$secondary-text-color: #002f6c;
$light-text-color: #90A4AE;

$primary-title-color:#253238;

$primary-link-color: #32c5ff;
$primary-link-hover-color: #2599c6;
$secondary-link-color: #e54e17;

$header-height: 56px;
$footer-height: 40px;

$border: 1px solid #ECEFF1;

$white: #ffffff;

$image-base-path: '../images/';
$icon-sprite: '#{$image-base-path}icons.svg';

