@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ct-product-banner {
  height: 250px;
  &__slide {
    position: relative;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
    h3 {
      @include responsive-font-size(26px);
      width: 100%;
      z-index: 1;
      position: absolute;
      top: calc(50% - 13px);
      text-align: center;
      font-family: $secondary-font-family;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      line-height: normal;
      color: #ffffff;
      text-shadow: 2px 2px 4px #000000;
    }
  }
  &.slick-slider {
    .slick-slide {
      &.slick-current {
        h3 {
          animation: fadeIn 4s forwards;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .ct-product-banner {
    height: 600px;
    &__slide {
      img {
        height: 600px;
      }
      h3 {
        @include responsive-font-size(60px);
        top: calc(50% - 30px);
      }
    }
  }
}
