@keyframes zoomIn {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 110%;
    height: 110%;
  }
}

.ct-products {
  margin-bottom: 40px;
  &__right {
    .ct-products-selection{
      margin-top: 30px;
      margin-bottom: 30px;
      ul{
        li{
          list-style: none;
          display: inline-block;
          padding: 8px 30px;
          margin-right: 15px;
          margin-bottom: 15px;
          border-radius: 20px;
          background-color: $primary-color;
          color: $white;
        }
      }
    }
    .ct-products-wrapper {
      justify-content: center;
    }
    .row {
      > div {
        margin-bottom: 30px;
        > div {
          height: 100%;
        }
      }
    }
  }
  &__item {
    position: relative;
    height: 100%;
    > a {
      height: 100%;
      display: block;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
      transition: all ease-in-out 0.3s;
      &:hover {
        text-decoration: none;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1),
          0 0 1px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
  &__item-image {
    margin-bottom: 15px;
    height: 150px;
    overflow: hidden;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item-title {
    @extend %h3;
    margin-bottom: 10px;
    padding: 0 15px;
    line-height: 24px;
    color: $secondary-text-color;
  }
  &__item-description {
    padding: 0 15px;
    margin-bottom: 50px;
    font-size: 14px;
    color: $primary-text-color;
  }
  &__item-price {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    color: $secondary-color;
    font-weight: $font-weight-bold;
  }
}

@include media-breakpoint-up(lg) {
  .ct-products {
    margin-bottom: 80px;
    &__right {
      .ct-products-selection{
        margin-top: 0;
      }
    }
  }
  
}

