.ct-products-filter {
  > ul {
    > li {
      list-style: none;
      font-size: 12px;
      line-height: 15px;
      color: $light-text-color;
      text-transform: uppercase;
      > ul {
        margin: 20px 0 30px;
        > li {
          position: relative;
          margin-bottom: 15px;
          padding-left: 30px;
          line-height: 20px;
          list-style: none;
          font-size: 16px;
          font-weight: $font-weight-light;
          text-transform: none;
          cursor: pointer;
          &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: $border;
          }
          &.selected{
            &::before {
                background-color: $primary-color;
                border-color: $primary-color;
            }
            &::after {
              position: absolute;
              left: 0;
              top: 0;
              content: "\2713";
              display: block;
              width: 20px;
              height: 20px;
              text-align: center;
              color: $white;
            }

          }
        }
      }
    }
  }
}
