.ct-breadcrumb{
    margin: 20px 0 0;
    .breadcrumb{
        padding: 15px 0;
        background: transparent;
    }
    .breadcrumb-item{
        position: relative;
        a{
            color: $primary-link-color;
            &:hover{
                color: $primary-link-hover-color;
                text-decoration: none;
            }
        }
        +  .breadcrumb-item{
            padding-left: 40px;
            color: $secondary-text-color;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 10px;
                display: block;
                width: 10px;
                height: 10px;
                margin: auto;
                border-width: 2px 2px 0 0;
                border-style: solid;
                color: $primary-link-color;
                transform: rotate(45deg);
            }
        }

    }
}