header {
  .navbar {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    .navbar-brand {
      img {
        height: 20px;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #196fb0;
          transition: all 0.15s ease-in-out;
          &:hover {
            color: $primary-link-hover-color;
          }
        }
        &.active {
          .nav-link {
            color: $secondary-link-color;
            &:hover {
              color: $secondary-link-color;
            }
          }
        }
        &.search,
        &.cart {
          position: relative;
          cursor: pointer;
          &:after {
            z-index: -1;
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            @include icons;
            display: inline-block;
            width: 20px;
            height: 20px;
          }
        }
        &.search {
          &:after {
            background-position: 0 0;
          }
          button {
            height: 38px;
            width: 20px;
            border: none;
            background: transparent;
            outline: none;
          }
        }
        &.cart {
          margin-bottom: 30px;
          &:after {
            background-position: -22px 0;
          }
        }
      }
    }
  }
}

.search-modal-lg {
  .modal-content {
    padding: 15px 8px;
    .form-inline {
      input {
        width: 100%;
        border-radius: 0;
      }
      button {
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

// menu open stutus
body.menu-open {
  overflow-y: hidden;
  background-color: red;
  header {
    background-color: blue;
    .navbar {
      display: block;
      height: 100vh;
      background-color: green;
    }
  }
}

.navbar-toggler{
  border: none;
  .navbar-toggler-icon{
  @include icons;
  display: inline-block;
  width: 32px;
  height: 16px;
  background-position: -44px 0;
  }
}

@include media-breakpoint-up(lg) {
  header {
    .navbar {
      padding: 20px 0;
      transition: padding ease-in-out 0.3s;
      .navbar-brand {
        img {
          height: 40px;
        }
      }
      .navbar-nav {
        .nav-item {
          &.search {
            margin-left: 15px;
          }
          &.cart {
            margin-left: 25px;
            margin-bottom: 0;
          }
        }
      }
    }
    &.scrolled {
      .navbar {
        padding: 10px 0;
      }
    }
  }
  .search-modal-lg {
    .modal-content {
      padding: 50px;
      .form-inline {
        input {
          width: calc(100% - 100px);
        }
        button {
          margin-top: 0;
          width: 75px;
        }
      }
    }
  }
}
